.page {
    display: flex;
    flex-direction: column;

    margin-top: 120px;

    align-items: center;

    font-family: 'Roboto', Arial, sans-serif;

    width: 100%;
    height: 100vh;
    
    color: #ffffff;
}

.title {
    margin: 20px 0;
}

.container {
    display: flex;
    flex-direction: column;

    align-items: center;

    width: 90%;
}

.dialog {
    display: flex;

    justify-content: space-between;

    height: 60px;
    width: 100%;
    padding: 5px 20px;

    margin-bottom: 10px;

    background-color: #303030;

    transition: all 0.15s linear;

    border-radius: 8px;
}

.dialog:hover {
    background-color: #494949;
}

.dialog img {
    height: 90%;
}

.text {
    margin-left: 10px;
}

.text p {
    margin-top: 0;
}

.leftSide {
    display: flex;
    flex-direction: row;
}

.online {
    color: #14c74a;
}