.genderImage img {
    height: 20px;
}

.tableRow {
    width: 960px;
    height: 48px;

    padding: 15px 10px;

    display: grid;
    grid-template-columns: 1fr 74px 62px 92px 118px;
    gap: 32px;
    
    align-items: center;

    background-color: #303030;

    transition: all 0.15s linear;

    margin-bottom: 2px;

    box-shadow: inset 0px -1px 0px #EEEFF5;
}

.tableRow:last-child {
    box-shadow: 0 0 0;
}

th {
    text-align: left;
    align-items: center;
    vertical-align: middle;
    font-weight: bold;
}

td {
    font-weight: 400;
    align-items: center;
    vertical-align: middle;
}
