.page {
    margin: 0;
    padding: 0;

    display: flex;

    justify-content: center;
    align-items: center;

    font-family: 'Roboto', Arial, sans-serif;

    width: 100%;

    background-color: #202020;
    color: #ffffff;
}