.authInput {
    padding: 12px 20px;

    border: 1px solid #DCDCDF;
    border-radius: 12px;

    color: black;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: 0.24px;
}

.authInput::placeholder {
    color: #B1B1B7;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: 0.24px;
}

.authInput:focus {
    outline: none;
}

.authInput {
    margin-bottom: 12px;
}