.visuallyHidden {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
}

.inputs {
    display: flex;
    flex-direction: row;
}

.formPart:first-child {
    margin-right: 20px;
}

.pair {
    display: flex;
    flex-direction: column;

    justify-content: center;

    margin-bottom: 10px;
}

.pair label {
    margin-bottom: 5px;
}

.pair textarea {
    border: 1px solid #DCDCDF;
    border-radius: 12px;

    color: black;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: 0.24px;

    resize: none;

    height: 86px;
}

.pair textarea:focus {
    outline: none;
}

.pair input {
    margin-bottom: 10px;
}