.page {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;

    margin-top: 120px;

    justify-content: center;
    align-items: center;

    font-family: 'Roboto', Arial, sans-serif;

    width: 100%;
    height: 100vh;
    
    color: #ffffff;

    padding-bottom: 20px;
}

.titleLine {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;

    margin: 20px 0;
}

.helper {
    align-self: left;
}

