.content {
    display: flex;
    box-sizing: border-box;
    
    flex-direction: column;

    width: 400px;

    padding: 40px 24px;
    margin: 80px 0;
    background-color: #303030;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.formContainer {
    display: flex;

    flex-direction: column;
}

.logo {
    align-self: center;
    text-align: center;
}

.logo img {
    width: 40%;
}

.title {
    text-align: center;

    padding: 20px 0;

    font-size: 24px;
    font-weight: 700;
}

.link {
    text-align: center;
}

.link a{
    text-decoration: none;
    color: #4682b4;
}

.link a {
    color: #4682b4;
    text-decoration: none;
    transition: color 0.3s ease;
}

.link a:hover {
    color: #336699;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
}

.birthTitle {
    margin-bottom: 5px;
}

.genderTitle {
    align-self: center;
}

.genderSelector {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.genderSelector label {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.genderSelector input[type="radio"] {
    display: none;
}

.maleIcon img {
    height: 80%;
}

.femaleIcon img {
    height: 80%;
}

.maleIcon {
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ccc;
    /* Стили для иконки мужского пола */
    color: #007bff; /* Цвет иконки мужского пола */
}

.femaleIcon {
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ccc;
    /* Стили для иконки женского пола */
    color: #f06292; /* Цвет иконки женского пола */
}

/* Стили для активной радио-кнопки */
.genderSelector input[type="radio"]:checked + div {
    background-color: #00bbbe;
}