.authButton {
    margin-top: 20px;
    padding: 12px 5px;

    text-align: center;

    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;

    background-color: #00bbbe;
    border: none;
    border-radius: 12px;

    transition: background-color 0.5s ease;
}

.authButton:hover {
    background-color: #00a0a2;
}

.authButton[disabled] {
    background-color: #719c9c;
}