.header {
    position: absolute;
    width: -webkit-fill-available;
    height: 80px;

    left: 0;
    top: 0;

    background: #303030;

    box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
    border-radius: 0px 0px 16px 16px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    gap: 10px;
}

.navPanel {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 16px;

    height: 32px;

    flex: none;
    flex-grow: 0;
}

.item, .active {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 12px;
    gap: 10px;

    flex: none;
    flex-grow: 0;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: 0.24px;

    cursor: pointer;

    text-decoration: none;
}

.item {
    background-color: #00bbbe;
    border-radius: 200px;
    color: #fff;
}

.active {
    background: #719c9c;
    border-radius: 200px;
    color: white;
}

.logout {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.logo img {
    height: 90px;
}

.logout img {
    height: 40px;
}

