.content {
    display: flex;
    box-sizing: border-box;
    
    flex-direction: column;

    width: 400px;

    padding: 40px 24px;

    background-color: #303030;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.formContainer {
    display: flex;

    flex-direction: column;
}

.logo {
    align-self: center;
    text-align: center;
}

.logo img {
    width: 40%;
}

.title {
    text-align: center;

    padding: 20px 0;

    font-size: 24px;
    font-weight: 700;
}

.link {
    text-align: center;
}

.link a{
    text-decoration: none;
    color: #4682b4;
}

.link a {
    color: #4682b4;
    text-decoration: none;
    transition: color 0.3s ease;
}

.link a:hover {
    color: #336699;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
}