.Input {
    padding: 6px 20px;

    border: 1px solid #DCDCDF;
    border-radius: 12px;

    color: black;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: 0.24px;
}

.Input:focus {
    outline: none;
}
