.page {
    display: flex;
    flex-direction: column;

    margin-top: 120px;

    align-items: center;

    font-family: 'Roboto', Arial, sans-serif;

    width: 100%;
    height: 100vh;
    
    color: #ffffff;
}

.title {
    margin: 20px 0;
}

.container {
    display: flex;
    flex-direction: column;

    align-items: center;
    background-color: #303030;
    width: 80%;

    border-radius: 15px;
}




