.mapCancelButton {
    margin-top: 5px;
    padding: 12px 5px;

    text-align: center;

    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;

    background-color: #ff1c1c;
    border: none;
    border-radius: 12px;

    transition: background-color 0.5s ease;
}

.mapCancelButton:hover {
    background-color: #ff4242;
}

.mapCancelButton[disabled] {
    background-color: #719c9c;
}